<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/jquery.ui.chatbox.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}" />
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="{{ static_url('js/jquery.ui.chatbox.js') }}"></script>

    <script>
    function ifr(jpURL){
      waku.location = jpURL;
    }
    </script>

</head>
<body onBlur="focus_state = false;" onfocus="focus_state = true;">
  <div id = "menu">
    <div id="accordion">
      <h3 class = "parent_ac">トーク一覧</h3>
        <div class = "child_ac">
          <p>
            {% for groupname in groups %}
              <li><a href="javascript:void(0);" onclick="OnLinkClick(this);">{{groupname}}</a></li>
            {% end %}
          </p>
        </div>
      <h3 class = "parent_ac">新しいトーク</h3>
        <div class = "child_ac">
          <form action="/newgroup" method="post">
            {% module xsrf_form_html() %}
            <p>groupname : <input type="text" name="groupname"/></p>
            {% for i,user in enumerate(users) %}
              <input type="checkbox" name="users" value="{{user}}">{{user}}<br>
            {% end %}
            <input type="submit" value="create"/><br>
          </form>
        </div>
      <h3 class = "parent_ac">プロフィール</h3>
        <div class = "child_ac">
          <ul>
            <li><a href="JavaScript:ifr('#')">自分<a></li>
            <li><a href="#">友達1<a></li>
            <li><a href="#">友達2<a></li>
            <li><a href="#">友達3<a></li>
          </ul>
        </div>
      <h3 class = "parent_ac">設定・その他</h3>
        <div class = "child_ac">
          <a href=/auth/logout>Logout</a>
          <p>何を設定するかは未定</p>
      </div>
    </div>
    <img src="{{ img_path }}" id="face" style="visibility:hidden">
    <div id="chat_div" class="chat"></div>
    <iframe src="index.html" name="waku"
 width="100%" height="80%"></iframe>
  </div>

  <div id = "sub">
    <script>
        var query;
        if(window.location.search){
          query = document.location.search.substring(1);
          var socket = new WebSocket('ws://' + location.host + '/chat?group=' + query);
        }else{
          query = 'all'
          var socket = new WebSocket('ws://' + location.host + '/chat?group=all');
        }
        socket.onopen = onOpen;
        socket.onclose = onClose;
        socket.onmessage = onMessage;

        function sendAction(img_path, msg) {

            var message = {
                img_path: img_path,
                message: msg
            };

            socket.send(JSON.stringify(message));
        }

        function onOpen(data) {
        }

        function onClose() {
        }

        function onMessage(event) {

            var data = JSON.parse(event.data);
            var options = {
                body: "testes",
                icon: data.img_path
              }
            var n = new Notification("test",options);
            n.createNotification("test",options);
            if ('messages' in data) {
                var messages = data.messages;
                for (var i=0; i<messages.length; i++) {
                    $("#chat_div").chatbox("option", "boxManager").addMsg(messages[i].img_path, messages[i].message, false);
                }
            } else {
                $("#chat_div").chatbox("option", "boxManager").addMsg(data.img_path, data.message, data.mymessage);
            }
        }
        function OnLinkClick(self) {
            socket.close();
            //socket = new WebSocket('ws://' + location.host + '/chat?group=' + self.firstChild.data);
            location.href = "?" + self.firstChild.data
        }

        $(document).ready(function() {
            $("#chat_div").chatbox(
                {id : "chat_div",
                 title : query,
                 user : "hoge",
                 offset: 150,
                 width: 500,
                 messageSent: function(id, user, msg){
                     var img_path = $('#face').attr('src');
                     this.boxManager.addMsg(img_path, msg, true);
                     sendAction(img_path, msg);
            }});
        });
    </script>
  </div>
</body>
</html>
