<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}" />
    <meta charset="UTF-8">
    <title></title>
    <script>
      function check(self){
        var n = regform.username.value;
        var p1 = regform.password_f.value;
        var p2 = regform.password_c.value;
        if (n != ""){
          if (p1 == p2){
            if(p1 == "" && p2 == ""){
              alert("パスワードを設定してください")
            }else{
              alert("OK");
              var target = document.getElementById("register");
              target.submit();
            }
          }else{
            alert("パスワードが確認用と一致しません");
          }
        }else{
          alert("名前を設定してください");
        }
      }
    </script>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/auth/login" method="post">
      {% module xsrf_form_html() %}
      <p>username : <input type="text" name="username"/></p>
      <p>password : <input type="password" name="password"/></p>
      <input type="submit" value="Login!"/>
    </form>

    <dialog id="dialog">
      <h2>Sign up</h2>
      <form action="/auth/registration" method="post" name="regform" id="register">
        {% module xsrf_form_html() %}
        <p>username : <input type="text" name="username" class="closebutton"></p>
        <p>password : <input type="password" name="password_f" class="closebutton"></p>
        <p>password(for check) : <input type="password" name="password_c" class="closebutton"></p>
        <p>birthday : year:<input type="number" min="1870" value="1990" class="spiny" name="by">
          month:<input type="number" min="1" max="12" value="1" class="spinmd" name="bm">
          day:<input type="number" min="1" max="31" value="1" class="spinmd" name="bd"></p>
        <input type="button" value="Registration" onclick="check(this)">
        <div class="closebutton">
          <input type="button" onclick="document.getElementById('dialog').close()" value="close">
        </div>
      </form>
    </dialog>
    <br>
    <input type="button" onclick="document.getElementById('dialog').showModal();" value="Sign up from here!">
  </body>
</html>
