<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}" />
    <title></title>
  </head>
  <body>
    <h3>Name:{{name}}</h3>
    <h4>Birthday:{{birthDay}}</h4>
    <table class="table1">
      <caption>Schedule</caption>
      <thead>
        <tr>
          <th>start date</th>
          <th>finish date</th>
        </tr>
      </thead>
      <tbody>
        {% for (date_s, date_f) in zip(date_start, date_finish) %}
        <tr>
          <td>{{date_s}}</td>
          <td>{{date_f}}</td>
        </tr>
        {% end %}
      </tbody>
    </table>
  </body>
</html>
